@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin-left: 0;
  margin-right: 0;
  user-select: none;
}
body {
  background-color: rgb(30, 30, 30);
  font-size: 25px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  color: orange;
  font-family: "Montserrat";
}
#header {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  position: relative;
  height: 0;
  top: -10px;
}
#divider {
  width: 96%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  background: orange;
  top: 150px;
}
#divider2 {
  width: 96%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  background: orange;
  top: 650px;
}
#divider3 {
  width: 96%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  background: orange;
  top: 768px;
  display: block;
}
#divider4 {
  width: 96%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  background: orange;
  top: 865px;
  display: none;
}
#divider5 {
  width: 96%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  background: orange;
  top: 1050px;
  display: none;
}
#banana {
  width: 400px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s;
  top: 250px;
  z-index: 0;
}
#banana:hover {
  width: 410px;
}
i {
  font-style: normal;
  font-family: "Material Icons";
  position: relative;
  top: 3px;
}
span#clicks {
  color: rgb(255, 217, 0);
  transition: 0.4s;
}
span#clickCounter {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 500px;
  font-size: 25px;
}
button {
  font-size: 25px;
  width: 250px;
  font-family: "Montserrat";
  font-weight: 700;
  color: orange;
  border: 4px solid orange;
  border-radius: 10px;
  background: transparent;
  padding: 15px;
  transition: 0.4s;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}
button:hover {
  background: rgba(265, 165, 0, 0.1);
}
.price {
  background: rgba(255, 200, 0, 0.2);
  border-radius: 10px;
  color: rgb(255, 217, 0);
}
#shop {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 700px;
  width: 75%;
}
#bananaIcon {
  transition: 0.4s;
}
#shopHeader {
  position: relative;
  top: -50px;
}
button#pause {
  width: 70px;
}
#help {
  position: absolute;
  font-family: "Montserrat";
  color: orange;
  font-weight: 600;
  border: 3px solid orange;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  top: 13px;
  left: 18px;
  font-size: 25px;
  cursor: pointer;
}
#patchNotes {
  position: absolute;
  font-family: "Material Icons";
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  top: 7px;
  left: 65px;
  font-size: 40px;
  cursor: pointer;
}
#patchNotesMenu {
  position: absolute;
  top: 200px;
  width: 60%;
  height: 520px;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  padding-left: 20px;
  padding-right: 20px;
}
#attackMenu {
  position: absolute;
  top: 200px;
  width: 60%;
  height: 520px;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
#attackDialogue {
  position: absolute;
  top: 200px;
  width: 60%;
  height: 200px;
  left: 50%;
  top: 370px;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
#attackDialogue #generatingOpponent {
  position: relative;
  top: 54px;
  display: block;
}
#attackDialogue #startingBattle {
  position: relative;
  top: 54px;
  display: none;
}
#attackMenu input {
  background: transparent;
  color: orange;
  font-family: "Montserrat";
  border: 2px solid orange;
  width: 40px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}
#attackMenu h4 {
  margin: 15px;
  position: relative;
  bottom: 10px;
}
#attackMenu button {
  border: 2px solid orange;
  width: 120px;
  padding: 3px;
  position: relative;
  bottom: 5px;
}
#battle {
  position: absolute;
  top: 200px;
  width: 90%;
  height: 800px;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  display: block;
  overflow: hidden;
  display: none;
}
#battleEndScreen {
  position: absolute;
  top: 200px;
  width: 60%;
  height: 520px;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
#countdown {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translate(-50%);
  font-size: 75px;
}
#timer {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid rgb(60, 60, 60);
  color: orange;
  font-family: "Montserrat";
  padding: 5px;
  border-radius: 10px;
}
img.node {
  position: absolute;
  width: 100px;
  height: 60px;
  cursor: pointer;
}
#settings {
  position: absolute;
  font-family: "Material Icons";
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  top: 7px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}
#achTracker {
  position: absolute;
  font-family: "Material Icons";
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  top: 8px;
  right: 65px;
  font-size: 40px;
  cursor: pointer;
}
#downloadBtn {
  position: absolute;
  font-family: "Material Icons";
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  top: 10px;
  right: 165px;
  font-size: 40px;
  cursor: pointer;
}
#uploadBtn {
  position: absolute;
  font-family: "Material Icons";
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  top: 10px;
  right: 115px;
  font-size: 40px;
  cursor: pointer;
}
#attackBtn {
  position: absolute;
  font-family: "Material Icons";
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  top: 12px;
  right: 215px;
  width: 40px;
  cursor: pointer;
  display: none;
}
#attackImg {
  width: 33px;
}
#settingsMenu {
  position: absolute;
  top: 200px;
  width: 60%;
  height: 520px;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  display: none;
}
#settingsDivider {
  position: relative;
  height: 6px;
  width: 95%;
  background: orange;
  left: 50%;
  transform: translate(-50%);
}
#patchNotesDivider {
  position: relative;
  height: 6px;
  width: 95%;
  background: orange;
  left: 50%;
  transform: translate(-50%);
}
#attackMenuDivider {
  position: relative;
  height: 6px;
  width: 95%;
  background: orange;
  left: 50%;
  transform: translate(-50%);
}
#difficultySelect {
  display: flex;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translate(-50%);
}
#colorSelect {
  display: flex;
  position: absolute;
  top: 325px;
  left: 50%;
  transform: translate(-50%);
}
#colorHeader {
  position: relative;
  top: 50px;
}
#easy,
#normal,
#hard,
#dark,
#light {
  width: 120px;
  margin-left: -5px;
  margin-right: 0;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
#dark {
  background-color: orange;
  color: rgb(30, 30, 30);
}
#easy,
#dark {
  border-radius: 10px 0 0 10px;
}
#hard,
#light {
  border-radius: 0 10px 10px 0;
}
#normal {
  background: orange;
  color: rgb(30, 30, 30);
}
#save,
#cancel {
  position: relative;
  width: 90px;
  height: 75px;
  top: 120px;
}
#areYouSure {
  position: relative;
  top: 140px;
  display: none;
}
#achievement {
  position: absolute;
  width: 300px;
  height: 90px;
  background: rgb(30, 30, 30);
  border: 4px solid orange;
  border-radius: 10px;
  top: 180px;
  right: -330px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  opacity: 1;
  z-index: 1;
}
#achievement2 {
  position: absolute;
  width: 300px;
  height: 90px;
  background: rgb(30, 30, 30);
  border: 4px solid orange;
  border-radius: 10px;
  top: 285px;
  right: -330px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  opacity: 1;
  z-index: 1;
}
#achievement3 {
  position: absolute;
  width: 300px;
  height: 90px;
  background: rgb(30, 30, 30);
  border: 4px solid orange;
  border-radius: 10px;
  top: 390px;
  right: -330px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  opacity: 1;
  z-index: 1;
}
#achievement p {
  color: orange;
}
#achievement span,
#achievement2 span,
#achievement3 span {
  color: white;
}
#achTrackerMenu {
  position: absolute;
  top: 200px;
  width: 1100px;
  height: 620px;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid rgb(60, 60, 60);
  border-radius: 20px;
  text-align: center;
  display: none;
}
#achDivider {
  position: relative;
  height: 6px;
  width: 95%;
  background: orange;
  left: 50%;
  transform: translate(-50%);
}
#achRow1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 150px;
  display: flex;
}
#achRow2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 240px;
  display: flex;
}
#achRow3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 330px;
  display: flex;
}
#achRow4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 420px;
  display: flex;
}
#achRow5 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 510px;
  display: flex;
}
.achPreview {
  width: 230px;
  height: 70px;
  background: rgb(30, 30, 30);
  border: 4px solid rgb(60, 60, 60);
  border-radius: 10px;
  top: 180px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  z-index: 1;
  margin: 5px;
}
.achPreview p {
  color: orange;
}
.achPreview span {
  color: white;
}
*::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 20px;
}
button#bundle {
  color: lime;
  border: 4px solid lime;
}
#bundle small {
  font-size: 18px;
  font-weight: 500;
}
/* #banana,
#clickCounter,
#shop,
#divider2 {
  display: none;
} */
@media (max-width: 800px) {
  #header {
    font-size: 60px;
    top: 0;
  }
}
@media (max-width: 640px) {
  #header {
    font-size: 50px;
    font-weight: 800;
  }
  #divider {
    top: 125px;
    height: 5px;
  }
  #divider2 {
    height: 5px;
  }
  #divider3 {
    top: 750px;
    height: 5px;
  }
  #banana {
    top: 200px;
  }
  #shopHeader,
  #pauseHeader {
    font-size: 40px;
    font-weight: 600;
  }
  button {
    font-weight: 600;
    font-size: 20px;
    width: 195px;
  }
}

@media (max-width: 540px) {
  #header {
    font-size: 30px;
    top: 14px;
  }
  #divider {
    top: 100px;
  }
  #divider2 {
    top: 450px;
  }
  #divider3 {
    top: 525px;
  }
  #banana {
    width: 250px;
    top: 150px;
  }
  #banana:hover {
    width: 260px;
  }
  span#clickCounter {
    top: 300px;
  }
  #shop {
    top: 500px;
  }
  #shopHeader,
  #pauseHeader {
    font-size: 30px;
  }
  button {
    font-size: 16px;
    width: 175px;
  }
  #help {
    font-size: 18px;
    width: 20px;
    height: 20px;
    border: 2px solid orange;
    font-weight: 400;
  }
  #settings {
    font-size: 25px;
  }
}
